<h2 mat-dialog-title>Forgot Password</h2>
<mat-dialog-content>
    <form (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width" *ngIf="!otpValidated">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" name="email" required />
        </mat-form-field>

        <mat-form-field class="example-full-width" *ngIf="otpRequested && !otpValidated">
            <mat-label>OTP</mat-label>
            <input matInput [(ngModel)]="otp" name="otp" required />
        </mat-form-field>

        <mat-form-field class="example-full-width" *ngIf="otpValidated">
            <mat-label>New Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="new_password" name="new_password"
                required />
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <div *ngIf="otpRequested && !otpValidated">
            <p>Time remaining: {{ minutes }}:{{ seconds | number: '2.0' }}</p>
        </div>

        <div mat-dialog-actions>
            <button mat-button type="button" (click)="onClose()">Cancel</button>
            <button mat-raised-button color="primary" type="submit">
                {{ otpValidated ? 'Change Password' : otpRequested ? 'Submit OTP' : 'Request OTP' }}
            </button>
        </div>
    </form>
</mat-dialog-content>